.sidebar {
    box-shadow: 3px 0px 3px -3px rgba(0,0,0,0.75);
    flex: 20%;
    height: 75vh;
    margin: 0 20px 0 0;
    position: sticky;
    top: 0;
    width: 20%;

    .list-item {
        padding: 10px;
    }

    .list-item:hover {
        background-color: #ececec;
        box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
    }

    a {
        color: $black-color;
        text-decoration: none;
    }
}