.company-section {
    margin: 80px 0;
    .details {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .info {
            width: 343px;

            img {
                height: auto;
                width: 340px;
            }

            h1 {
                margin: 20px 0;
            }
        }
    }
}